:root{
    --first-color:#433E52;
    --main-color:#212121;
    --form-color:#2C73FF;
    --menu-color:#2C2C2C;
    --NavLink:#ffffff;
}



/* Header */
 .Header-parent{
    background-color:var(--first-color);
    height: 10vh;




}

.Train{
   color: var(--NavLink); 
}
/*  */
/*
.Header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 1rem;

    max-width: 40%;

}

.Header-Child{
    color:aliceblue ;
    text-decoration: none;
}
.Header-Child:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: aliceblue;

}

.Train{
    color: white;
} */
/* end of Header */
.form-parent{
    height: 60vh;
    background-color: var(--main-color);

    
}

.image{
    max-width: 300px;
}

.my-form{
    margin-top: 2rem;
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
}
.form-group{
    color: var(--form-color);
}

.UserMenu{
    height: 100vh;
    background-color: var(--menu-color);
    margin-right: 0;
}

.UserLayout{
background-color: var(--main-color);
}
.NewProject{
background-color: var(--main-color);
height: 100vh;    
}
.formLable{
    color: var(--form-color);
}

.navLink{
    color: white;
    
}


.navLink:hover{
    color: var(--menu-color);
    font-size: 2em;
    background-color: var(--NavLink);
    
}
/* Home*/
.home{
    background-color: var(--main-color);
}
.main{
    background-color: var(--main-color);
}



